p {
  font-family: Lato;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
